* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

input, button, textarea {
  font-family: inherit; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

.body-hidden {
  max-height: 100vh;
  overflow: hidden; }

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden; }

.course {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #b41d893a;
  flex-direction: column;
  padding: 40px 100px;
  margin-bottom: 100px; }
  .course__title {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: normal;
    letter-spacing: normal;
    color: #333333; }
  .course .swiper {
    width: 100%;
    height: 450px; }
  .course .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center; }
  .course .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .course .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    background-color: #B41D8A !important; }
  .course .mySwiper .swiper-button-next,
  .course .mySwiper .swiper-button-prev {
    width: 60px;
    height: 60px;
    background-color: #B41D8A;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: normal;
    letter-spacing: normal;
    color: #fff;
    top: 50px; }
  .course .mySwiper .swiper-button-prev::after {
    content: '';
    width: 50px;
    height: 50px;
    background-image: url(../img/arrow__left.svg);
    background-size: cover; }
  .course .mySwiper .swiper-button-next::after {
    content: '';
    width: 50px;
    height: 50px;
    background-image: url(../img/arrow__rigth.svg);
    background-size: cover; }
  .course__box {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
    .course__box-card {
      width: 450px;
      height: 250px;
      background-color: #fff;
      filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.25));
      border-radius: 5px;
      margin: 20px;
      display: flex;
      padding-top: 20px;
      padding-left: 25px;
      overflow: hidden;
      cursor: grab; }
      .course__box-card:hover .course-hover {
        display: flex;
        justify-content: center;
        align-items: center;
        animation-name: courshover;
        animation-duration: 0.6s;
        animation-iteration-count: 1;
        -webkit-transition: 0.5s;
        transition: 0.5s; }
@keyframes courshover {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
      .course__box-card .course-hover {
        width: 100%;
        height: 100%;
        background: rgba(180, 29, 138, 0.9);
        backdrop-filter: blur(2px);
        position: absolute;
        left: 0%;
        top: 0%;
        z-index: 2;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        display: flex;
        justify-content: center;
        align-items: center;
        display: none; }
        .course__box-card .course-hover button {
          width: 100% !important;
          padding: 30px;
          background-color: #fff;
          color: #B41D8A; }
      .course__box-card .course__left {
        width: 60%;
        height: 100%; }
        .course__box-card .course__left-button {
          border: none;
          padding: 8px 34px;
          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          line-height: normal;
          letter-spacing: normal;
          color: #fff;
          margin-top: 10px;
          margin-bottom: 20px; }
        .course__box-card .course__left-subtitle {
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: normal;
          letter-spacing: normal;
          color: #333333;
          margin-top: 20px; }
        .course__box-card .course__left-title {
          font-style: normal;
          font-weight: 600;
          font-size: 24px;
          line-height: normal;
          letter-spacing: normal;
          color: #333333;
          margin-top: 10px;
          padding-bottom: 10px; }
        .course__box-card .course__left-box {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          margin-top: 5px; }
          .course__box-card .course__left-box .course__description {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: normal;
            letter-spacing: normal;
            color: #333333;
            margin-left: 5px; }
      .course__box-card .course__rigth {
        width: 40%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center; }
        .course__box-card .course__rigth-img {
          width: 200px;
          height: 200px;
          background-size: cover;
          position: relative;
          left: 10px; }
        .course__box-card .course__rigth-img1 {
          background-image: url(../img/img1.webp); }
        .course__box-card .course__rigth-img2 {
          background-image: url(../img/img2.webp);
          position: absolute;
          left: 65%; }
        .course__box-card .course__rigth-img3 {
          background-image: url(../img/img3.webp); }
        .course__box-card .course__rigth-img4 {
          background-image: url(../img/img4.webp); }
        .course__box-card .course__rigth-img5 {
          background-image: url(../img/img5.webp); }
        .course__box-card .course__rigth-img6 {
          background-image: url(../img/img6.webp); }
        .course__box-card .course__rigth-img7 {
          background-image: url(../img/img7.webp); }
        .course__box-card .course__rigth-img8 {
          background-image: url(../img/img8.webp); }
        .course__box-card .course__rigth-img9 {
          background-image: url(../img/img9.webp); }
        .course__box-card .course__rigth-img10 {
          background-image: url(../img/img10.webp); }
        .course__box-card .course__rigth-img11 {
          background-image: url(../img/img11.webp); }

@media screen and (max-width: 1350px) {
  .course {
    padding: 60px 60px; }
    .course__title {
      font-style: normal;
      font-weight: 700;
      font-size: 42px;
      line-height: normal;
      letter-spacing: normal;
      color: #333333; } }
@media screen and (max-width: 1200px) {
  .course {
    padding: 60px 80px; }
    .course__title {
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: normal;
      letter-spacing: normal;
      color: #333333; } }
@media screen and (max-width: 1000px) {
  .course {
    padding: 100px 60px; } }
@media screen and (max-width: 700px) {
  .course {
    padding: 60px 30px; }
    .course__title {
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      line-height: normal;
      letter-spacing: normal;
      color: #333333; } }
@media screen and (max-width: 530px) {
  .course {
    padding: 40px 30px; }
    .course__title {
      font-style: normal;
      font-weight: 700;
      font-size: 28px;
      line-height: normal;
      letter-spacing: normal;
      color: #333333; }
    .course .swiper {
      width: 100%;
      height: 600px; }
    .course__box {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap; }
      .course__box-card {
        width: 100%;
        height: auto;
        margin: 20px;
        padding: 20px;
        cursor: pointer;
        flex-direction: column; }
        .course__box-card .course-hover button {
          width: 100% !important;
          padding: 15px;
          background-color: #fff;
          font-size: 16px;
          color: #B41D8A; }
        .course__box-card .course__left {
          width: 100%;
          height: auto;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          flex-direction: column; }
          .course__box-card .course__left-button {
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: normal;
            letter-spacing: normal;
            color: #fff; }
          .course__box-card .course__left-subtitle {
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: normal;
            letter-spacing: normal;
            color: #333333; }
          .course__box-card .course__left-title {
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: normal;
            letter-spacing: normal;
            color: #333333; }
          .course__box-card .course__left-box {
            margin-top: 5px; }
            .course__box-card .course__left-box .course__description {
              font-style: normal;
              font-weight: 500;
              font-size: 14px;
              line-height: normal;
              letter-spacing: normal;
              color: #333333;
              margin-left: 3px;
              text-align: center; }
        .course__box-card .course__rigth {
          width: 100%;
          height: auto;
          display: flex;
          justify-content: center;
          align-items: center; }
          .course__box-card .course__rigth-img {
            width: 180px;
            height: 180px; }
          .course__box-card .course__rigth-img2 {
            background-image: url(../img/img2.webp);
            position: static; }
          .course__box-card .course__rigth-img4 {
            background-image: url(../img/img4.webp);
            height: 185px; } }

/*# sourceMappingURL=Course.css.map */
