@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Montserrat:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Montserrat:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Montserrat:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat'; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

input, button, textarea {
  font-family: inherit; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

.body-hidden {
  max-height: 100vh;
  overflow: hidden; }

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden; }

.feedback {
  width: 100%;
  height: auto;
  padding: 100px 100px;
  background-image: url(../img/bg.svg);
  background-size: cover;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 140px;
  position: relative;
  overflow: hidden; }
  .feedback__title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: normal;
    letter-spacing: normal;
    color: #fff;
    z-index: 1;
    text-align: center; }
  .feedback__box {
    width: 100%;
    margin-top: 50px;
    z-index: 1; }
    .feedback__box-message {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin: 30px 0;
      gap: 20px; }
      .feedback__box-message .feedback__photo {
        min-width: 120px;
        min-height: 120px;
        background-size: cover; }
      .feedback__box-message .feedback__photo-img1 {
        background-image: url(../img/img1.png); }
      .feedback__box-message .feedback__photo-img2 {
        background-image: url(../img/img2.png); }
      .feedback__box-message .feedback__photo-img3 {
        background-image: url(../img/img3.png); }
      .feedback__box-message .feedback__photo-img4 {
        background-image: url(../img/img4.png); }
      .feedback__box-message .feedback__block {
        width: 90%;
        height: auto;
        background-color: #fff;
        padding: 30px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        flex-direction: column;
        gap: 30px;
        border-radius: 10px; }
        .feedback__box-message .feedback__block-icon {
          width: 100%;
          height: auto; }
          .feedback__box-message .feedback__block-icon p {
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: normal;
            letter-spacing: normal;
            color: #333333;
            margin-top: 20px; }
        .feedback__box-message .feedback__block-author {
          font-family: 'Montserrat', sans-serif;
          font-style: normal;
          font-weight: 700;
          font-size: 28px;
          line-height: normal;
          letter-spacing: normal;
          color: #333333; }
  .feedback::after {
    content: "";
    width: 100%;
    height: 100%;
    background-image: url(../img/elipse.svg);
    background-size: cover;
    position: absolute;
    top: 40%;
    left: 40%;
    z-index: 0; }

@media screen and (max-width: 1350px) {
  .feedback {
    padding: 100px 60px; }
    .feedback__title {
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 42px;
      line-height: normal;
      letter-spacing: normal;
      color: #fff; } }
@media screen and (max-width: 1200px) {
  .feedback {
    padding: 100px 80px; }
    .feedback__title {
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: normal;
      letter-spacing: normal;
      color: #fff; } }
@media screen and (max-width: 1000px) {
  .feedback {
    padding: 100px 60px; } }
@media screen and (max-width: 700px) {
  .feedback {
    padding: 100px 30px; }
    .feedback__title {
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      line-height: normal;
      letter-spacing: normal;
      color: #fff; }
    .feedback__box-message {
      margin: 50px 0;
      gap: 10px;
      flex-direction: column; }
      .feedback__box-message .feedback__photo {
        min-width: 100px;
        min-height: 100px; }
      .feedback__box-message .feedback__block {
        width: 100%; }
        .feedback__box-message .feedback__block .feedback__block-icon svg {
          width: 45px;
          height: 42px; }
    .feedback__box-messageRight {
      flex-direction: column-reverse;
      display: flex;
      justify-content: flex-start;
      align-items: flex-end; }
    .feedback::after {
      content: "";
      width: 100%;
      height: 100%;
      background-image: url(../img/elipse.svg);
      background-size: cover;
      position: absolute;
      top: 0%;
      left: 0%;
      z-index: 0; } }
@media screen and (max-width: 530px) {
  .feedback__title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: normal;
    letter-spacing: normal;
    color: #fff; }
  .feedback__box-message .feedback__block .feedback__block-icon svg {
    width: 30px;
    height: 26px; }
  .feedback__box-message .feedback__block p {
    font-size: 20px; }
  .feedback__box-message .feedback__photo {
    min-width: 80px;
    min-height: 80px; } }

/*# sourceMappingURL=Feedback.css.map */
