@import "../../../main/style.scss";

.gift-popup {
	width: 600px;
	height: 650px;
	position: fixed;
	top: -100%;
	left: 50%;
	padding: 20px;
	flex-direction: column;

	z-index: 6;
	border: 2px solid $white;
	border-radius: 5px;

	background: $main;
	transform: translate(-50%, -50%);
	@include display-center(flex-start, center);
	transition: 0.6s;

	&__close {
		width: 40px;
		height: 40px;
		background-image: url(../img/close.svg);
		background-size: cover;
		position: absolute;
		right: 0%;
		top: 0%;
		margin-top: 10px;
		margin-right: 10px;
		cursor: pointer;
	}

	&__title {
		@include font($white, 36px, 700, normal, normal);
	}

	&__description {
		@include font($white, 18px, 400, normal, normal);
		text-align: center;
		margin-top: 10px;
		margin-bottom: 30px;

		span {
			font-weight: 500;
			color: $green;
		}
	}

	form {
		width: 100%;
	}

	&__button {
		width: 100%;
		height: 70px;
		border: none;
		padding: 0 20px;
		border: 1px solid $white;
		border-radius: 5px;
		outline: none;
		@include font($white, 20px, 600, normal, normal);
		margin-top: 40px;	
		transition: 0.5s;

		&:hover {
			background-color: $white;
			color: $main;
			box-shadow: 0 0 7px rgba(255, 255, 255, 0.5);
			transition: 0.5s;
		}
	}

	&__box {
		width: 100%;
		margin-top: 20px;

		&-subtitle {
			@include font($white, 18px, 400, normal, normal);
		}

		input {
			width: 100%;
			height: 70px;
			border: none;
			padding: 0 20px;
			background-color: $white;
			box-shadow: 0 0 7px rgba(255, 255, 255, 0.5);
			border-radius: 5px;
			outline: none;
			@include font($main, 20px, 600, normal, normal);
			margin-top: 10px;

			&::placeholder {
				color: $main;
			}
		}

		select {
			width: 100%;
			height: 70px;
			border: none;
			padding: 0 20px;
			background-color: $white;
			box-shadow: 0 0 7px rgba(255, 255, 255, 0.5);
			border-radius: 5px;
			outline: none;
			@include font($main, 20px, 600, normal, normal);
			margin-top: 10px;


			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			position: relative;
			background-image: url(../img/arrow.svg);
			background-repeat: no-repeat;
			background-position: center right 20px;
			background-size: 35px;
			
		}
	}

  }
  

.gift-popup--open { 
	position: fixed;
	top: 50%;
}




@media screen and (max-height: 650px) {


.gift-popup {
	width: 700px;
	height: 95%;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	&__title {
		@include font($white, 32px, 700, normal, normal);
	}

	&__description {
		width: 70%;
		@include font($white, 18px, 400, normal, normal);
		text-align: center;
		margin-top: 5px;
		margin-bottom: 20px;

		
	}

	&__button {
		height: 70px;
		margin-top: 25px;	
	}


	&__box2 {
		display: flex;
		gap: 10px;
	}

  }
}




@media screen and (max-width: 750px) {


	.gift-popup {
		width: 95%;
		height: 95%;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	
		&__title {
			@include font($white, 32px, 700, normal, normal);
		}
	
		&__description {
			width: 100%;
			@include font($white, 18px, 400, normal, normal);
			text-align: center;
			margin-top: 5px;
			margin-bottom: 10px;
			
		}
	
		&__button {
			height: 55px !important;
			margin-top: 15px;	
		}
	
		&__box {
			margin-top: 10px;
			input {
				height: 55px !important;
			}

			select {
				height: 55px !important;
			}
		}
	
		&__box2 {
			width: 100%;
			display: flex;
			flex-direction: column;
			gap: 0px;

			
		}
	
	  }
	}


	@media screen and (max-width: 400px) {


		.gift-popup {
			padding: 10px;

			&__title {
				@include font($white, 24px, 700, normal, normal);
			}
		
			&__close {
				width: 30px;
				height: 30px;
			}

			&__description {
				width: 100%;
				@include font($white, 16px, 400, normal, normal);
				margin-bottom: 10px;
				
			}
		
			&__box {
				&-subtitle {
					font-size: 14px;
				}
			}

		  }
		}

		@media screen and (max-width: 500px) and (max-height: 900px) {
			.gift-popup {
				height: 80%;
				padding: 20px;
	
				&__title {
					@include font($white, 36px, 700, normal, normal);
				}
			
				&__close {
					width: 30px;
					height: 30px;
				}
	
				&__description {
					width: 100%;
					@include font($white, 20px, 400, normal, normal);
					margin-bottom: 30px;
					
				}
			
				&__box {
					margin-top: 20px;
					&-subtitle {
						font-size: 14px;
					}
				}

				&__button {
					margin-top: 50px;
				}
	
			  }
			}

			@media screen and (max-width: 430px) and (max-height: 800px) {
				.gift-popup {
					height: 95%;
					padding: 10px;
		
					&__title {
						@include font($white, 32px, 700, normal, normal);
					}
				
					&__close {
						width: 30px;
						height: 30px;
					}
		
					&__description {
						width: 100%;
						@include font($white, 16px, 400, normal, normal);
						margin-bottom: 15px;
						
					}
				
					&__box {
						margin-top: 10px;
						&-subtitle {
							font-size: 14px;
						}
					}
	
					&__button {
						margin-top: 25px;
					}
		
				  }
				}
	

	
@media screen and (max-height: 650px) {
	
	
	.gift-popup {
		height: 95%;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	
		&__title {
			@include font($white, 32px, 700, normal, normal);
		}
	
		&__description {
			width: 100%;
			@include font($white, 18px, 400, normal, normal);
			text-align: center;
			margin-top: 5px;
			margin-bottom: 20px;
	
			
		}
	
		&__button {
			height: 70px;
			margin-top: 25px;	
		}
	
	
		&__box2 {
			display: flex;
			gap: 10px;
		}
	
	  }
	}

